:root{
    --cor-de-fundo: #212730;
    --cinza-principal: #393E46;
    --azul-principal: #00EDFA;

    --fonte-principal: "Roboto";

    --altura-cabecalho: 220px;
    --margin-botton-secoes: 20px;
}

body{
    min-width: 1300px;
    max-width: 1440px;
    background-color: var(--cor-de-fundo);
    color: var(--azul-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    line-height: 24px;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    color: var(--azul-principal);
 }
 
 a:visited {
     color: var(--azul-principal);
 }
 
 a:hover {
     color: #FFFFFF;
 }
 
 a:active {
    color: #FFFFFF;
 }

.cabecalho{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: var(--margin-botton-secoes);
}

.foto{
    height: var(--altura-cabecalho);
    width 15%;
}

.foto__perfil{
    border-radius: 50%;
    height: 230px;
    width: 210px;;
    object-fit: cover;
    object-position: 10% 50%
}

.cabecalho__texto{
    width: 50%;
}

.nome{
    height: 20%;
    width: 100%;
    font-size: 48px;
    padding-top: 12px;
    margin-bottom: var(--margin-botton-secoes);
}

.carta__apresentacao{
    background-color: var(--cinza-principal);
    border-radius: 8px;
    padding: 12px;
}

.contato{
    display: flex;
    flex-direction: column;
}

.contato__canais{
    background-color: var(--cinza-principal);
    border-radius: 8px;
}

.contato__elemento{
    display: flex;
    align-items: center;
}

.contato__icone{
    height: 30px;
    width: 30px;
    margin: 10px;
}

.contato__info{
    font-size: 20px;
    padding: 12px;
}

.secao__paragrafo{
    font-size: 36px;
    padding: 12px;
    margin-left: 16px;
    margin-bottom: var(--margin-botton-secoes);
    border-bottom-style: solid;
    border-width: 5px;
    border-bottom-color: var(--cinza-principal);
}

.cursos__estrutura{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: var(--margin-botton-secoes);
}

.cursos__card{
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
}

.cursos__imagem{
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
}


.cursos__nome{
    font-size: 22px;
    padding: 12px;
    padding-bottom: 4px;
    text-align: center;
}

.cursos__descricao{
    padding: 12px;
    padding-bottom: 4px;
    text-align: center;
}

.formacao__estrutura{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.formacao__dados{
    background-color: var(--cinza-principal);
    font-size: 18px;
    border-radius: 8px;
    width:400px;
}

.formacao__texto{
    font-size: 24px;
    padding: 12px;
    padding-bottom: 4px;
}

.formacao__descricao{
    padding: 12px;
}